.todopage {
  background: white;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  background: #72beb2;
  /* rgb(64, 165, 219) */
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo {
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
